.body  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}

@media (max-width: 1100px) {
    .body ul {
        margin-right: auto;
        margin-left: auto;
        justify-content: space-around;
    }
}

@media (min-width: 1101px) {
    .body  ul {
        margin-right: 400px;
        margin-left: 400px;
    }
}

